In [2]:
import matplotlib as plt
import pandas as pd

In [5]:
ds = pd.read_csv("./outputFinal.csv")
ds

          Rec  Dynamic Programming
0    0.000002             0.000024
1    0.000014             0.000037
2    0.000034             0.000040
3    0.000817             0.000506
4    0.002475             0.000543
..        ...                  ...
183  0.116720             0.008147
184  0.563256             0.028789
185  0.080565             0.014343
186  0.245505             0.010006
187  0.052233             0.023927

[188 rows x 2 columns]